.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoTitle{
  padding: 12px;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: auto;
  max-width: 920px;
  margin: 0 auto; 
}